html
	head
		title Chatroom
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
		link(ref='stylesheet', type='text/css', href='/css/theme.css')
		script.
		
			$(function() {
				var wsUrl = 'wss://node-js-traning-cfsghost.c9users.io/';
				var websocket = new WebSocket(wsUrl);
				
				websocket.onopen = function(evt) {
					console.log('Connected');
				};
				websocket.onclose = function(evt) {
					console.log('DisConnected');
				};
				websocket.onmessage = function(evt) {
					console.log('Got Message', evt);
					var msg = JSON.parse(evt.data);
					
					$('<div>')
						.text(msg.name + ': ' + msg.msg)
						.appendTo($('#msgbox'));
				};
				websocket.onerror = function(evt) {
					console.log('Something\'s wrong');
				};
				
				$('#send_button').on('click', function() {
					websocket.send(JSON.stringify({
						name: $('#name_input').val(),
						msg: $('#msg_input').val()
					}));
				});
			});

	body
		h2 WebSocket
		
		div
			input#name_input(type='text')
			input#msg_input(type='text')
			input#send_button(type='button', value='Send')
			
		div#msgbox
